.contact{
    background-color: #F5F5F5;
    padding: 5% 10%;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}
.first-info img{
    width: 140px;
    height: auto;
    margin-bottom: 20px;
}
.contact-info h4{
    color: #111010;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact-info p{
    color: #565656;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;

}
.contact-info p:hover{
    color: #D4AB59;
}
.social-icons-container {
    display: flex;
    gap: 10px;
    /* justify-content:space-around; */
  }

  .social-icon {
    color: #555;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-left:-70px;
    margin-left: 1px;
  }

  .social-icon:hover {
    color:#5d5443;
    transform: scale(1.1);
  }


.end-text{
    background-color: #F5F5FF;
    text-align: center;
    padding: 20px;
    font-size: larger;
}
.end-text p{
    color: #111;
    text-transform: capitalize;
}
.logo{
    margin-bottom: 20px;
}
