/* Products.css */

.trending-product {
    padding: 90px ;
}

*/

.font-semibold {
    font-weight: 600;
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-center {
    text-align: center;
}
.mb-10 {
    margin-bottom: 2.5rem;
}
.mt-16 {
    margin-top: 4rem;
}

/* ......... */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    flex: 1 1 22%;
    max-width: 22%;
    box-sizing: border-box;
    background: #fff;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    gap: 40px;
}

.row img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 80px;
}

.price {
    text-align: center;
}

.price h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.price p {
    font-size: 1.3rem;
    color: #2e2d2d;
}

.row:hover {
    transform: translateY(-10px);
}
.btn {
    display: inline-block;
    padding: 13px 20px ;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color:#D4AB59;
    color: white;
    margin-top: 20px;
}

.btn-primary {
    background-color:#D4AB59;
}

.btn:hover {
    opacity: 0.8;
}


/* Responsive design */
@media (max-width: 1200px) {
    .row {
        flex: 1 1 30%;
        max-width: 30%;
    }
}

@media (max-width: 992px) {
    .row {
        flex: 1 1 45%;
        max-width: 45%;
    }
}

@media (max-width: 768px) {
    .row {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
