.update-news {
    padding-left: 100px;
}
.up-center-text h2{
    text-align: center;
    color: #111;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 150px;
}
.update-card img{
    width: 380px;
    height: auto;
    border-radius: 5px;
}
.update-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px,auto));
    gap: 1rem;
    padding-left: 90px;
    padding-bottom: 50px;
}

.update-card h4{
    color: #111;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
.update-card p{
    color: #707070;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
}
.update-card h6 {
    font-size: 14px;
    color:#E1C340;
    cursor: pointer;
    margin-top: 10px;
  }

  .update-card h6:hover {
    text-decoration: underline;
  }
