
  .banner img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding-bottom: 100px;

  }
/*
  .banner-content {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #211e1e; /* Example text color */
    /* font-family: "Poppins", sans-serif; */

  /* .banner-content h2 {
    font-size: 4.0rem;
    margin-bottom: 1rem;
    font-family: sans-serif;

  }

  .banner-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-family: "Poppins", sans-serif;

  } */
