/* Products.css */

.trending-product {
    padding: 90px ;
}

.center-text {
    text-align: center;
    margin-bottom: 50px;
    margin-top: -150px;

}

.center-text h2 {
    font-size: 2.5rem;
    color: #333;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    flex: 1 1 22%;
    max-width: 20%;
    box-sizing: border-box;
    background: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.row img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 80px;
}

.price {
    text-align: center;
}

.price h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.price p {
    font-size: 1rem;
    color: #999;
}

.row:hover {
    transform: translateY(-10px);
}

/* Responsive design */
@media (max-width: 1200px) {
    .row {
        flex: 1 1 30%;
        max-width: 30%;
    }
}

@media (max-width: 992px) {
    .row {
        flex: 1 1 45%;
        max-width: 45%;
    }
}

@media (max-width: 768px) {
    .row {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
