a {
  text-decoration: none;
  color: #4b5862;
}

/* Main */
.main {
  display: flex;
  gap: 125px;
  align-items: center;
  margin-top: 90px;
}
.gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gallery .main-img img {
  display: none;
}

.gallery .main-img img.active {
  display: inline-block;
  max-width: 445px;
  max-height: 445px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
  margin-top: -20px;
  margin-left: 190px;

}

/* Content */

.content{
  margin-right: 200px;
  margin-top: -20px;
  padding: 20px;
  flex: 1;

}


.content h2 {
  font-size: 30px;
  margin: 20px 0 40px 0;
}

.content p {
  font-size: 16px;
  color: #4b5862;
  margin-bottom: 30px;
}

.price-1 {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.current-price-1 {
  font-weight: 700;
  font-size: 25px;
}

.discount-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  border-radius: 10%;
  height: 25px;
  background-color: #ece4e4;
  font-weight: 700;
  color: #D4AB59;
}

.prev-price-1 {
  margin: 10px 0 35px 0;
  font-size: 18px;
  color: #a4b3bf;
  font-weight: 700;
  text-decoration: line-through;
}

.add-to-cart-container-1 {
  display: flex;
  align-items: center;
  gap: 15px;
}


.add-to-cart-1 {
  color: #ffffff;
  background-color: #D4AB59;
  border: 0px;
  height: 55px;
  width: 76%;
  border-radius: 10px;
  font-weight: 700;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 0 5px;
}
.cart-item .total-price-1 {
  color: #000000;
  font-weight: 700;
}
/* @media (max-width: 755px) {
  .navbar {
    margin-bottom: 0;
    border-bottom: none;
  }

  .nav-first,
  .nav-second {
    gap: 30px;
    padding-bottom: 10px;
  }

  .nav-first .menu-icon {
    cursor: pointer;
    display: inline-block;
  }

  .nav-links {
    display: none;
  }
 */
  /* .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -5px;
    max-width: 220px;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    align-items: start;
    z-index: 15;
    padding: 25px 30px;
  }
} */

  /* .nav-first .backdrop.active {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: -5px
  } */
